@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

html {
  scroll-behavior: smooth;
}
body {
  color: #292425;
  font-family: 'Roboto', sans-serif;
  font-size: calc(16px + 0.2vw);
  margin: 0;
}
h1, h2, h3, h4 {
  font-family: 'Fjalla One', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
}
div#nav {
  position: fixed;
  height: 5vh;
  display: flex;
  width: 100%;
  padding: 10px;
  background: #292425;
  background: -webkit-linear-gradient(to left,  #292425aa, #292425);
  background: linear-gradient(to left,  #292425aa, #292425);
}
div#nav h3 {
  margin: 0;
  padding: 0;
  color: #B66A6E;
}
div.section {
  padding: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  background: #fdfbfa;
  flex-direction: column;
}
div:nth-child(2n) {
  background-color:#DBCDC6;
  flex-direction: row;
}
div.left {
  width: 50vw;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.right {
  width: 50%;
  height: 100%;
  max-height: 100vh;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #292425;
}
div#about img {
  height: 50vh;
  margin: 20px;
}
.fancy {
  font-family: 'Playfair Display', serif;
  font-size: calc(16px + 0.2vw);
  line-height: 5vh;
}
h1#kargostack {
  font-size: calc(60px + 0.2vw);
  text-shadow: 2px 1px #B66A6E;
}
h1.stripe {
  background: #B66A6E;
  line-height: 4vh;
  width: 100%;
  text-align: center;
  font-size: calc(42px + 0.2vw);
}
/* 
rosy brown #B66A6E
thistle beige #DBCDC6
black #292425
MED BROWN #947767
DARK BROWN #685448