@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

html {
  scroll-behavior: smooth;
}
body {
  color: #292425;
  font-family: 'Playfair Display', sans-serif;
  line-height: 3.3vh;
  font-size: calc(16px + 0.2vw);
  margin: 0;
}
h1, h2, h3, h4 {
  font-family: 'Fjalla One', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
}
div#nav {
  position: fixed;
  height: 5vh;
  display: flex;
  width: 100%;
  padding: 10px;
  background: #292425;
  background: -webkit-linear-gradient(to left,  #292425aa, #292425);
  background: linear-gradient(to left,  #292425aa, #292425);
}
div#nav h3 {
  margin: 0;
  padding: 0;
  color: #B66A6E;
}
div.section {
  padding: 20px;
  min-height: 95vh;
  height: auto;
  display: flex;
  align-items: center;
  background: #fdfbfa;
  flex-direction: column;
}
div.section:nth-child(2n) {
  background-color:#DBCDC6;
  background: -webkit-linear-gradient(to left,  #DBCDC6, #DBCDC655);
  background: linear-gradient(to left,  #DBCDC6, #DBCDC655);
  flex-direction: row;
}
div#about div.left {
  width: 40%;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div#about div.right {
  width: 60%;
  height: 100%;
  max-height: 100vh;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #292425;
}
div#about img {
  max-height: 45vh;
  max-width: 40vw;
  width: auto;
  margin: 20px;
}
div#about img.icon {
  width: 30px;
  height: 30px;
  margin: 5px;
}
.fancy {
  font-family: 'Playfair Display', serif;
  font-size: calc(16px + 0.2vw);
  line-height: 5vh;
}
h1#kargostack {
  font-size: calc(60px + 0.2vw);
  text-shadow: 2px 1px #B66A6E;
  background: #B66A6Edd;
  line-height: 4vh;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
h1.stripe {
  background: #B66A6Edd;
  line-height: 4vh;
  width: 100%;
  text-align: center;
  font-size: calc(42px + 0.2vw);
  margin-bottom: 10px;
}
div.left {
  width: 50%;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.right {
  width: 50%;
  height: 100%;
  max-height: 100vh;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #292425;
}
div.education {
  width: 100%;
  margin: 10px 0px;
}
div.right h2 {
  margin-top: 10px;
}
li {
  list-style-type: none;
}
div#contact {
  flex-direction: column;
}
h4 {
  font-size: calc(12px + 0.2vw);
}
div#wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  align-items: center
  height: 80%;
  flex-grow: 2;
}
div.project {
  flex: 0 0 auto;
  overflow-wrap: break-word;
  max-width: 100vw;
  border-right: 3px solid #DBCDC6;
  margin-left: 20px;
  margin-right: 20px;
}
div.project#spacer {
  width: 40vw;
}
div.project:first-child {
  /* border: 0px; */
  /* margin-left: 40vw; */
}
div.project:last-child {
  border: 0px;
  /* margin-left: 0px; */
}
div.inner-flex-div {
  display: flex;
  flex-direction: row;
}
div.prj-left {
  width: 50%;
  height: auto;
}
div.inner-flex-div img {
  max-width: 90%;
  width: auto;
  height: auto;
  max-height: 40vh;
}
div.prj-right {
  width: 50%;
  padding-left: 10px;
  padding0right: 10px;
}
li {
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1.5em;
  padding-left: 1.5em;
}
div#button-list {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
button {
  font-size: calc(12px + 0.2vw);
  margin: 20px 10px 0 0;
  width: 80px;
  height: 25px;
  background: #DBCDC6;
  color: #B66A6E;
  font-family: 'Fjalla One', sans-serif;
  border-radius: 6px;
}
button:hover {
  background: #B66A6E;
  color: #292425;
}
div.experience-wrapper {
  display: flex;
  justify-content: space-around;
  /* align-items: flex-start; */
  align-content: flex-start;
  width: 100%;
  margin: 15px 0px;
}
div.experience-wrapper img {
  max-width: 170px;
}
div.exp-left {
  width: 300px;
}
div.exp-right {
  width: 100%;
  margin: 0 20px;
}


/* 
rosy brown #B66A6E
thistle beige #DBCDC6
black #292425
MED BROWN #947767
DARK BROWN #685448